
<div class="container-notes">

    {{#each notes}}
     
        <div class="note">
            
            <div class="note-info">

                <h5 class="note-name">{{name}} </h5> 
           
                <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>


            </div>
       
      

            <p class="note-description">{{description}}</p>

            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">

                <input type="hidden" name="_method" value="DELETE">
                <input class="btn-deleteNote" type="submit" value="Delete">

            </form>
  
        </div>

        {{else}}
        <div class="note">
            <h1>Hello {{user.name}}</h1>
          <div class="note-name">There are no notes yet</div>
          <a class = "btn-createNote"href="/notes/add"> Create a new one !</a>
        </div>
    {{/each}}

</div>